# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_df=pd.read_csv("Weather_data.csv") #read the weather_data csv file and set to variable
weather_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Moba,33.2288,105.0179,36.140,79,89,1.51,CN,1611897950
1,Yerköy,39.6381,34.4672,29.750,93,83,0.26,TR,1611897954
2,Velizh,55.6056,31.1967,27.230,99,99,1.65,RU,1611897955
3,Oranjemund,-28.5500,16.4333,61.178,80,0,7.28,NaN,1611897956
4,Cidreira,-30.1811,-50.2056,73.328,93,100,7.89,BR,1611897959
...,...,...,...,...,...,...,...,...,...
578,Robertsport,6.7533,-11.3686,78.890,85,1,2.50,LR,1611898426
579,Ladário,-19.0047,-57.6017,73.166,95,100,0.75,BR,1611898427
580,Sagamu,6.8432,3.6478,78.800,94,20,1.40,NG,1611898427
581,Hoquiam,46.9809,-123.8893,37.130,92,5,1.96,US,1611898428
582,Progreso,21.2833,-89.6667,73.400,78,75,3.60,MX,1611898428

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
#configure gmaps

gmaps.configure(api_key=g_key)

In [4]:
#create a figure using gmaps
fig=gmaps.figure()
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
#create a heatmap layer
locations = weather_df[["Lat", "Lng"]].astype(float) #sets the latitude and longitude of each city in the weather_df as the locations for the heatmap
weight= weather_df["Humidity"].astype(float) #sets the city's humidity as the weigh for the heatmap
heat_layer = gmaps.heatmap_layer(locations, weights=weight, 
                                 dissipating=False)

In [7]:
#add the heatmap layer to the existing figure
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
heat_layer.max_intensity =150 #sets the heatmap intensity
heat_layer.point_radius = 3 #sets the radius to increase heat based on city location

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [23]:
#filter the dataframe to only include cities that fit those parameters
#A max temperature lower than 80 degrees but higher than 70.
high_temp=weather_df.loc[(weather_df["Max Temp"]<80) & (weather_df["Max Temp"]>70)] #filter the dataframe to only include cities with a max temp less than 80 and greater than 70

#Wind speed less than 10 mph.
low_speed=high_temp.loc[high_temp["Wind Speed"]<10] #filter the dataframe further to remove cities with a windspeed greater than 10mph

#Zero cloudiness.
filter_df=low_speed.loc[low_speed["Cloudiness"]==0] #filter the dataframe further to remove the cities with cloudiness above 0%
filter_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
104,Caravelas,-17.7125,-39.2481,73.922,89,0,1.31,BR,1611898329
109,Tura,25.5198,90.2201,76.676,34,0,1.76,IN,1611898330
143,Sittwe,20.1500,92.9000,76.136,46,0,2.85,MM,1611898336
152,Port Alfred,-33.5906,26.8910,70.826,73,0,5.09,ZA,1611898338
176,Puri,19.8000,85.8500,77.000,50,0,2.57,IN,1611898343
178,Upleta,21.7333,70.2833,78.638,17,0,6.02,IN,1611898344
302,Garoowe,8.4054,48.4845,70.574,47,0,5.57,SO,1611898370
356,Lima,-12.0432,-77.0282,73.994,78,0,4.12,PE,1611898172
383,Conceição da Barra,-18.5933,-39.7322,73.616,89,0,1.11,BR,1611898272
386,Arraial do Cabo,-22.9661,-42.0278,77.000,83,0,4.12,BR,1611898387
389,Lüderitz,-26.6481,15.1594,70.178,49,0,8.71,NaN,1611898387
417,Takoradze,4.8845,-1.7554,77.360,92,0,2.59,GH,1611898393
422,Bhuj,23.2667,69.6667,74.606,19,0,5.43,IN,1611898394
478,Ibrā’,22.6906,58.5334,72.446,24,0,1.06,OM,1611898408

In [24]:
#remove any rows with null values
filter_df.dropna()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
104,Caravelas,-17.7125,-39.2481,73.922,89,0,1.31,BR,1611898329
109,Tura,25.5198,90.2201,76.676,34,0,1.76,IN,1611898330
143,Sittwe,20.1500,92.9000,76.136,46,0,2.85,MM,1611898336
152,Port Alfred,-33.5906,26.8910,70.826,73,0,5.09,ZA,1611898338
176,Puri,19.8000,85.8500,77.000,50,0,2.57,IN,1611898343
178,Upleta,21.7333,70.2833,78.638,17,0,6.02,IN,1611898344
302,Garoowe,8.4054,48.4845,70.574,47,0,5.57,SO,1611898370
356,Lima,-12.0432,-77.0282,73.994,78,0,4.12,PE,1611898172
383,Conceição da Barra,-18.5933,-39.7322,73.616,89,0,1.11,BR,1611898272
386,Arraial do Cabo,-22.9661,-42.0278,77.000,83,0,4.12,BR,1611898387
417,Takoradze,4.8845,-1.7554,77.360,92,0,2.59,GH,1611898393
422,Bhuj,23.2667,69.6667,74.606,19,0,5.43,IN,1611898394
478,Ibrā’,22.6906,58.5334,72.446,24,0,1.06,OM,1611898408

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure